<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td>Country</td>
            <td>Amount</td>
            <td>Symbol</td>
        </th>
        {% for currency in currencies%}
        <tr>
            <td>{{currency.country_of_origin}}</td>
            <td>{{currency.amount}}</td>
            <td>{{currency.symbol}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>