<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td>Name</td>
            <td>Account</td>
            <td>Transaction Cost</td>
        </th>
        {% for third_Party in third_parties%}
        <tr>
            <td>{{third_party.name}}</td>
            <td>{{third_party.account}}</td>
            <td>{{third_party.transaction_cost}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>